# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# build output
.next

# env & secrets
.env
.env.*
!.env.example

# runtime data and local databases
/data/*.json

# editor / IDE
.vscode
.idea

# Claude Code
.claude
CLAUDE.md

# misc
migrate-data.mjs
wikit-graphql.md

others
wikidot-ajax.md
